body {
    background-image: url('./../imagens/fundo.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
}
.logo{
    height: 40%;
}
.card{
    border-radius: 20px; padding: 20px; padding: 20px; margin-top: 10%
}
