body {
    background-image: url('./../imagens/fundo.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
}
.logo{
  width: 150px;
  height: 120px;
    display: block;
    margin: 0 auto 20px auto;
}
.card{
    border-radius: 20px; padding: 20px; padding: 20px;
}
