#listEducadores .educadores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listEducadores .educadores .order,
#listEducadores .educadores ul {
    width: 100%;
}

#listEducadores .educadores .salvar {
    margin-top: 20px;
}