#bloco-anotacoes {
  resize: none;
}

#bloco-anotacoes-container {
  height: auto;
}

#dashboardAluno .card,
#dashboardEducador .card {
  min-height: 360px;
}

#dashboardEducador #calendar .fc-toolbar-title {
  font-size: 100% !important;
}

#calendar .fc-toolbar-title,
#calendar .fc-header-title,
#calendar .fc-toolbar h2 {
  font-size: 10% !important;
  font-weight: 300;
}

#calendar .fc-button {
  font-size: 0.75rem !important;
  padding: 0.2rem 0.4rem !important;
  height: auto !important;
  min-width: auto !important;
  line-height: 1.2 !important;
}

#calendar .fc-button-group .fc-prev-button,
#calendar .fc-button-group .fc-next-button {
  font-size: 0.75rem !important;
  padding: 0.2rem 0.4rem !important;
  height: auto !important;
  min-width: auto !important;
}

#calendar td,
#calendar th {
  padding: 2px !important;
  font-size: 0.75rem !important;
  height: 28px !important;
  width: 28px !important;
}

#calendar {
  overflow: hidden !important;
}

#calendar .fc-scrollgrid {
  overflow: hidden !important;
}

#calendar td,
#calendar th {
  padding: 1px !important;
  font-size: 0.60rem !important;
  height: 22px !important;
  width: 22px !important;
  line-height: 1 !important;
}